@model IEnumerable<ApiClean.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadVendida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproductosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadVendida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdproductosNavigation.Idproductos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idventas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idventas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idventas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
